<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It`s Mr. Stick Figure</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac euismod tellus, 
      sit amet dictum diam. Nunc consequat, sapien eu rutrum facilisis, nunc lacus efficitur mauris,
      at viverra erat velit eu lorem. Nullam dui ligula, consequat eget diam at, 
      hendrerit dignissim ex. Phasellus eu placerat metus. Ut commodo ante quis auctor rutrum. 
      Donec fringilla maximus tortor. Donec ac urna diam. Mauris nec ipsum condimentum, 
      tristique dolor quis, viverra turpis. Donec ut quam a leo accumsan dictum.
    </p>
  </div>
</div>